html {
    height: 100%;
    background: radial-gradient(circle, #fff, #ccc);
}

.text-center {
    text-align: center;
}

#container {
    box-sizing: border-box;
    height: 440px;
    width: 590px;
    background: #9dd2ea;
    padding: 20px;
    border-radius: 10px;
    margin: 100px auto;
    box-shadow: 0 4px 0 0 #009dea;
    position: relative;
}

#score {
    background: #f1ff92;
    color: #888e5f;
    box-shadow: 0 4px #9da853;
    padding: 11px;
    position: absolute;
    left: 500px;
    border-radius: 5px;
}


#correct,
#wrong {
    background: #42e252;
    color: #fff;
    padding: 11px;
    position: absolute;
    left: 245px;
    display: none;
}

#wrong {
    background: #de401a;
}

#question {
    width: 450px;
    height: 150px;
    margin: 50px auto 10px;
    box-shadow: 0 4px #535aa8;
    border-radius: 7px;
    line-height: 150px;
    font-family: cursive, sans-serif;
    font-size: 100px;
    background: #9da0ea;
}

#information {
    width: 450px;
    height: 50px;
    margin: 10px auto;
    background: #b481d9;
    border-radius: 7px;
    line-height: 50px;
    box-shadow: 0 4px #8153a8;

}

#choices {
    width: 450px;
    height: 100px;
    margin: 5px auto;
}

.box {
    width: 85px;
    height: 85px;
    background: #fff;
    float: left;
    margin-right: 36px;
    border-radius: 5px;
    border-radius: 5px;
    line-height: 85px;
    cursor: pointer;
    box-shadow: 0 4px rgba(0,0,0,0.2);
    transition: all .2s;
    position: relative;

}
#box4 {
    margin-right: 0;
}

#startreset:active,
.box:active {
    background: #9c89f6;
    top:  4px;
    box-shadow: 0 0;
    color: #fff;
}
#startreset {
    width: 100px;
    height: 38px;
    background: rgba(255,255,255,0.5);
    margin: 0 auto;
    line-height: 38px;
    box-shadow: 0 4px rgba(0,0,0,0.2);
    cursor: pointer;
    position: relative;
    transition: all .2s;
}

#timeremaining {
    width: 170px;
    height: 38px;
    line-height: 38px;
    position: relative;
    bottom: 38px;
    left: 380px;
    background: #afe64b;
    border-radius:  5px;
    box-shadow: 0 4px rgba(0,0,0,0.2);
    display: none;
}

#gameover {
    width: 500px;
    height: 200px;
    background: linear-gradient(#f3c76b,#f3746c);
    color: #fff;
    font-size: 2.5rem;
    text-transform: uppercase;
    position: absolute;
    top: 100px;
    left: 45px;
    z-index: 9999;
    display: none;
}